@import "tailwindcss";

@theme {
    --color-ivory: #F3E6C8;
    --color-linen: #fffae8;
    --color-gold: #C9A45C;
    --color-paper: #D8C39A;
    --color-copper: #B9784A;
    --color-cream: #E8DCC3;
    --color-beige: #BFA77A;
    --color-sage: #66705A;
    --color-brown: #3A2920;
}